<div class="banner">
    <div class="banner__img-wrap">
        <img class="banner__img" src="./images/Векторный_смарт-объект.png" alt="">
    </div>
    <div class="banner__title-wrap">
        <h1 class="banner__title">Оформить полис ОСАГО за 10 минут</h1>
        <p class="banner__text">Сравните стоимость полиса и выберете
наиболее интересное предложение
от страховых компаний</p>
    </div>
</div>