<header class="header">
    <div class="logo">
        <img src="./images/лого.png" alt="Vool">
    </div>
    <div class="menu">
        <div class="mobile-menu-btn">
            <div class="mobile-menu__btn-one"></div>
            <div class="mobile-menu__btn-two"></div>
            <div class="mobile-menu__btn-three"></div>
            <div class="mobile-menu__btn-four"></div>
        </div>
        <nav class="menu__item">
            <a class="menu__item-link" id="polis">Оформить ОСАГО</a>
            <a id="partners" class="menu__item-link">Партнёры</a>
            <a id="whyUs" class="menu__item-link">Преимущества</a>
            <a id="reviews" class="menu__item-link">Отзывы</a>
            <a id="questions" class="menu__item-link">Вопрос/ответ</a>
        </nav>
    </div>
</header>
    <div class="mobile-menu">
        <nav class="mobile-menu__item">
            <a class="mobile-menu__item-link" id="polis">Оформить ОСАГО</a>
            <a id="partners" class="mobile-menu__item-link">Партнёры</a>
            <a id="whyUs" class="mobile-menu__item-link">Преимущества</a>
            <a id="reviews" class="mobile-menu__item-link">Отзывы</a>
            <a id="questions" class="mobile-menu__item-link">Вопрос/ответ</a>
        </nav>
    </div>