<header class="header">
    <div class="logo">
        <img src="./images/лого.png" alt="Vool">
    </div>
    <div class="menu">
        <nav class="menu__item">
            <a class="menu__item-link" id="polis">Оформить ОСАГО</a>
        </nav>
        <nav class="menu__item">
            <a id="partners" class="menu__item-link">Партнёры</a>
        </nav>
        <nav class="menu__item">
            <a id="whyUs" class="menu__item-link">Преимущества</a>
        </nav>
        <nav class="menu__item">
            <a id="reviews" class="menu__item-link">Отзывы</a>
        </nav>
        <nav class="menu__item">
            <a id="questions" class="menu__item-link">Вопрос/ответ</a>
        </nav>
    </div>
    <div class="mobile-menu">
        <div class="mobile-menu__btn">
            <div class="mobile-menu__item mobile-menu__item_first"></div>
            <div class="mobile-menu__item mobile-menu__item_second"></div>
            <div class="mobile-menu__item mobile-menu__item_third "></div>
            <div class="mobile-menu__profile"></div>
            <div class="mobile-menu__works"></div>
            <div class="mobile-menu__skills"></div>
            <div class="mobile-menu__git"></div>
        </div>
    </div>
</header>