<div class="main-text">
    <div class="main-text__wrap">
        <h1 class="main-text__title">
            Полис ОСАГО любом регионе за 10 минут! 
        </h1>
        <p class="main-text__text">На нашей платформе можно буквально за пару кликов рассчитать стоимость полиса, сравнить цены в разных страховых и оформить ОСАГО.  </p>
    </div>
    <div class="main-text__wrap">
        <h1 class="main-text__title">
            Как рассчитывается стоимость полиса?
        </h1>
        <p class="main-text__text">Цена полиса рассчитывается в специальном калькуляторе и зависит от многих факторов: информация о ТС и его владельце, регион, тарифы конкретной страховой компании. 
Оформляя полис ОСАГО через наш сервис, вы можете сэкономить до 3980 рублей, поскольку базовая ставка на платформе отличается (разница до 20%).</p>
    </div>
    <div class="main-text__wrap">
        <h1 class="main-text__title">
            Оформление ОСАГО онлайн - это безопасно
        </h1>
        <p class="main-text__text">Полис е-ОСАГО соответствует закону так же, как и привычный “бумажный” полис. При покупке ОСАГО через интернет номер полиса вносится в единую базу, доступ к которой есть у любого инспектора ГИБДД. Достаточно предъявить инспектору распечатанную версию полиса - он легко сможет проверить её по номеру.</p>
    </div>
    <div class="main-text__wrap">
        <h1 class="main-text__title">
           Покупка полиса онлайн экономит ваше время
        </h1>
        <p class="main-text__text">Наша платформа объединяет информацию о множестве страховых компаний. Вам больше не нужно заходить на сайт каждой СК по отдельности, вводить данные и сравнивать цены. Предоставьте всю информацию только один раз и узнайте условия в десятках страховых!</p>
    </div>
</div>