<div class="partners">
    <div class="partners__wrap-logo">
        <img class="partners__logo" src="./images/rosgosstrahBw.png" alt="">
    </div>
    <div class="partners__wrap-logo">
        <img class="partners__logo" src="./images/vskBw.png" alt="">
    </div>
    <div class="partners__wrap-logo">
        <img class="partners__logo" src="./images/ingosBw.png" alt="">
    </div>
    <div class="partners__wrap-logo">
        <img class="partners__logo" src="./images/naskoBw.png" alt="">
    </div>
    <div class="partners__wrap-logo">
        <img class="partners__logo" src="./images/renesansBw.png" alt="">
    </div>
    <div class="partners__wrap-logo">
        <img class="partners__logo" src="./images/alfaBw.png" alt="">
    </div>
    <div class="partners__wrap-logo">
        <img class="partners__logo" src="./images/soglasieBw.png" alt="">
    </div>
    <div class="partners__wrap-logo">
        <img class="partners__logo" src="./images/tinkoffBw.png" alt="">
    </div>
</div>