<div class="polis">
    <h1 class="polis__title">Оформление полиса ОСАГО</h1>
    <div class="polis-wrap">
        <div class="progress-bar">
            <div class="progress-bar__item progress-bar__item-active">
                Шаг 1. Автомобиль
            </div>
            <div class="progress-bar__item">
                Шаг 2. Страхователь
            </div>
            <div class="progress-bar__item">
                Шаг 3. Водители 
            </div>
            <div class="progress-bar__item">
                Шаг 4. Оплата
            </div>
        </div>
    </div>
</div>