<div class="questions">
    <h1 class="questions__title">Часто задаваемые вопросы</h1>
    <div class="questions-wrap">
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Вопрос №1</h1>
                    <div data-id="0" class="questions__item-button">
                    </div>
                </div>
            <p class="questions__item-text"
                data-id="0"
            >Развернутый ответ на вопрос №1 в несколько строчек</p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Вопрос №2</h1>
                    <div data-id="1" class="questions__item-button">
                    </div>
                </div>
            <p data-id="1" class="questions__item-text"></p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Вопрос №3</h1>
                    <div data-id="2" class="questions__item-button">
                    </div>
                </div>
            <p data-id="2" class="questions__item-text"></p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Вопрос №4</h1>
                    <div data-id="3" class="questions__item-button">
                    </div>
                </div>
            <p data-id="3" class="questions__item-text"></p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Вопрос №5</h1>
                    <div data-id="4" class="questions__item-button">
                    </div>
                </div>
            <p data-id="4" class="questions__item-text"></p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Вопрос №6</h1>
                    <div data-id="5" class="questions__item-button">
                    </div>
                </div>
            <p data-id="5" class="questions__item-text"></p>
            </div>
        </div>
        <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Вопрос №7</h1>
                    <div data-id="6" class="questions__item-button">
                    </div>
                </div>
            <p data-id="6" class="questions__item-text"></p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Вопрос №8</h1>
                    <div data-id="7" class="questions__item-button">
                    </div>
                </div>
            <p data-id="7" class="questions__item-text"></p>
            </div>
        </div>
       <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Вопрос №9</h1>
                    <div data-id="8" class="questions__item-button">
                    </div>
                </div>
            <p data-id="8" class="questions__item-text"></p>
            </div>
        </div>
       <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Вопрос №10</h1>
                    <div data-id="9" class="questions__item-button">
                    </div>
                </div>
            <p data-id="9" class="questions__item-text"></p>
            </div>
        </div>
    </div>
</div>