<div class="questions">
    <h1 class="questions__title">Часто задаваемые вопросы</h1>
    <div class="questions-wrap">
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Как можно проверить подлинность электронного полиса ОСАГО?</h1>
                    <div data-id="0" class="questions__item-button">
                    </div>
                </div>
            <p class="questions__item-text"
                data-id="0"
            >Подлинность полиса ОСАГО можно проверить на сайте РСА (Российского союза страховщиков): <br>
            <a href="https://dkbm-web.autoins.ru/dkbm-web-1.0/bsostate.htm">https://dkbm-web.autoins.ru/dkbm-web-1.0/bsostate.htm</a>
             </p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Электронный полис ОСАГО стоит дороже или дешевле «бумажного»?</h1>
                    <div data-id="1" class="questions__item-button">
                    </div>
                </div>
            <p data-id="1" class="questions__item-text">
                Тарифы, применяемые при заключении договора ОСАГО в электронном виде, не отличаются от тарифов, применяемых при оформлении бумажных полисов в офисе страховой компании или у агента. Если стоимость полиса различалась, возможно, при расчете были указаны разные данные.
            </p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Какие плюсы онлайн-покупки страхового полиса на сайте – vool.ru</h1>
                    <div data-id="2" class="questions__item-button">
                    </div>
                </div>
            <p data-id="2" class="questions__item-text">
                Главный плюс — сэкономленное время. Чтобы сравнить цены у нескольких страховых вам необходимо на каждом сайте заполнить форму. В каждой форме около 40 вопросов. У нас вы это сделаете один раз и получите расчет по нескольким компаниям.
            </p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Нужна ли диагностическая карта (техосмотр, ТО) для оформления электронного ОСАГО?</h1>
                    <div data-id="3" class="questions__item-button">
                    </div>
                </div>
            <p data-id="3" class="questions__item-text">
                Диагностическая карта требуется для легковых  транспортных средств, не используемых в качестве такси, старше 3 лет. Если ваше транспортное средство старше трех лет и у вас нет действующей на дату заключения договора  диагностической карты, то для заключения договора ОСАГО сначала необходимо пройти техосмотр. Обращаем внимание на то, что три года исчисляются с 1 января года изготовления транспортного средства вне зависимости от даты его покупки или даты выдачи ПТС.
            </p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Что такое бонус-малус КБМ, и как рассчитывается скидка за безаварийное вождение при оформлении полиса ОСАГО</h1>
                    <div data-id="4" class="questions__item-button">
                    </div>
                </div>
            <p data-id="4" class="questions__item-text">
                При оформлении полиса ОСАГО (в любом виде) применяется коэффициент, соответствующий страховой истории, содержащейся в автоматизированной информационной системе РСА (Российского союза автостраховщиков). Поэтому скидки за безаварийное вождение (если информация о них содержится в РСА), будут применены. Соответственно, информация о новом договоре ОСАГО, заключенном в электронном виде, будет также передана в РСА.
            </p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Нужно ли показывать сотруднику ГИБДД электронный полис?</h1>
                    <div data-id="5" class="questions__item-button">
                    </div>
                </div>
            <p data-id="5" class="questions__item-text">
                В настоящий момент мы настоятельно рекомендуем распечатать полученный на email электронный полис и список законных оснований для страхования в электронной форме и всегда иметь эти документы при себе в момент управления автомобилем!
Наряды ДПС могут проверять онлайн наличие электронного полиса ОСАГО через сеть ИМТС МВД России или сайт РСА. При наличии в информационной системе сведений о заключении такого договора они обязаны исключить привлечение водителя к административной ответственности по части 2 статьи 12.3 КоАП РФ*
*Согласно письму ГУОБДД МВД России от 03.07.2015 № 13/12-у-4440 Начальнику ЦСН БДД МВД России, начальникам подразделений ГАИ на региональном уровне «Об изменениях в законодательстве Российской Федерации».
            </p>
            </div>
        </div>
        <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Как получить оригинал полиса, купленного через интернет?</h1>
                    <div data-id="6" class="questions__item-button">
                    </div>
                </div>
            <p data-id="6" class="questions__item-text">
                С помощью страховой компании, на сайте которой вы произвели покупку, обратившись к ним по телефону (чтобы узнать в каком офисе можно получить).
            </p>
            </div>
        </div>
         <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Если я купил страховой полис сегодня, когда я могу им воспользоваться?</h1>
                    <div data-id="7" class="questions__item-button">
                    </div>
                </div>
            <p data-id="7" class="questions__item-text">
                Полис ОСАГО можно купить, только если вы укажете начало его действия не ранее завтрашнего дня.
            </p>
            </div>
        </div>
       <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Что такое европротокол?</h1>
                    <div data-id="8" class="questions__item-button">
                    </div>
                </div>
            <p data-id="8" class="questions__item-text">
                Европротокол — это извещение о ДТП, которое самостоятельно оформляется участниками ДТП для обозначения факта происшествия и не требует присутствия на месте ДТП сотрудников ГИБДД. При этом должны быть соблюдены следующие условия: в столкновении должны участвовать два автомобиля (при этом вред был нанесен только имуществу, а не жизни и здоровью участников ДТП), водители застрахованы по ОСАГО и имеют при себе полис, сумма ущерба по оценке участников ДТП составляет не более 50 000 рублей и у них нет разногласий в обстоятельствах происшествия.
            </p>
            </div>
        </div>
       <div class="questions__item">
            <div class="questions__item-wrap">
                <div class="questions__item-wrap-title">
                    <h1 class="questions__item-title">Чем грозит отсутствие полиса у водителя?</h1>
                    <div data-id="9" class="questions__item-button">
                    </div>
                </div>
            <p data-id="9" class="questions__item-text">
                Согласно ч. 2 ст. 12.3, ч. 1, 2 ст. 12.37 КоАП РФ в настоящее время предусмотрены следующие виды административной ответственности, связанные с отсутствием полиса ОСАГО:

1) административный штраф в размере 500 руб., если автомобилем управляет водитель, не вписанный в полис ОСАГО;

2) административный штраф в размере 800 руб., если не застрахована гражданская ответственность водителя
            </p>
            </div>
        </div>
    </div>
</div>