<div class="results">
    <h1 class="results__title">Результаты расчета</h1>
    <div class="results-wrap">
        <div class="table">
            <div class="table__title">
                <div class="table__title-company">
                    Компания
                </div>
                <div class="table__title-reiting">
                    Рейтинг
                </div>
                <div class="table__title-office">
                    Офисы урегулирования
                </div>
                <div class="table__title-price">
                    Стоимость
                </div>
                <div class="table__title-empty">
                </div>
            </div>
            <div class="table__row">
                <div class="table__row-logo">
                    <img src="./images/вск_лого.png"/>
                </div>
                <div class="table__row-reiting">
                    RRaa+
                </div>
                <div class="table__row-office">
                    RRaa+
                </div>
                <div class="table__row-price">
                    <span >3000p</span>
                    <span class="disable">Расчет недоступен</span>
                </div>
                <div class="table__row-btn">
                    <button class="row-btn">оплатить</button>
                </div>
            </div>
            <div class="table__row">
                <div class="table__row-logo">
                    <img src="./images/ингосстрах.png"/>
                </div>
                <div class="table__row-reiting">
                    RRaa+
                </div>
                <div class="table__row-office">
                    RRaa+
                </div>
                <div class="table__row-price">
                    <span>3000p</span>
                    <span class="disable">Расчет недоступен</span>
                </div>
                <div class="table__row-btn">
                    <button class="row-btn">оплатить</button>
                </div>
            </div>
            <div class="table__row">
                <div class="table__row-logo">
                    <img src="./images/наско_лого.png"/>
                </div>
                <div class="table__row-reiting">
                    RRaa+
                </div>
                <div class="table__row-office">
                    RRaa+
                </div>
                <div class="table__row-price">
                    <span>3000p</span>
                    <span class="disable">Расчет недоступен</span>
                </div>
                <div class="table__row-btn">
                    <button class="row-btn">оплатить</button>
                </div>
            </div>
            <div class="table__row table__row-disable">
                <div class="table__row-logo">
                    <img src="./images/росгострах_лого.png"/>
                </div>
                <div class="table__row-reiting">
                    RRaa+
                </div>
                <div class="table__row-office">
                    RRaa+
                </div>
                <div class="table__row-price">
                    <span class="disable">3000p</span>
                    <span class="disable-text">Расчет недоступен</span>
                </div>
                <div class="table__row-btn">
                    <button class="row-btn">оплатить</button>
                </div>
            </div>
            <div class="table__row table__row-disable">
                <div class="table__row-logo">
                    <img src="./images/альфа_страхование_лого.png"/>
                </div>
                <div class="table__row-reiting">
                    RRaa+
                </div>
                <div class="table__row-office">
                    RRaa+
                </div>
                <div class="table__row-price">
                    <span class="disable">3000p</span>
                    <span class="disable-text">Расчет недоступен</span>
                </div>
                <div class="table__row-btn">
                    <button class="row-btn">оплатить</button>
                </div>
            </div>
            <div class="table__row table__row-disable">
                <div class="table__row-logo">
                    <img src="./images/ренессанс_лого.png"/>
                </div>
                <div class="table__row-reiting">
                    RRaa+
                </div>
                <div class="table__row-office">
                    RRaa+
                </div>
                <div class="table__row-price">
                    <span class="disable">3000p</span>
                    <span class="disable-text">Расчет недоступен</span>
                </div>
                <div class="table__row-btn">
                    <button class="row-btn">оплатить</button>
                </div>
            </div>
            <div class="table__row table__row-disable">
                <div class="table__row-logo">
                    <img src="./images/согласие_лого.png"/>
                </div>
                <div class="table__row-reiting">
                    RRaa+
                </div>
                <div class="table__row-office">
                    RRaa+
                </div>
                <div class="table__row-price">
                    <span class="disable">3000p</span>
                    <span class="disable-text">Расчет недоступен</span>
                </div>
                <div class="table__row-btn">
                    <button class="row-btn">оплатить</button>
                </div>
            </div>
            <div class="table__row table__row-disable">
                <div class="table__row-logo">
                    <img src="./images/тинькофф_лого.png"/>
                </div>
                <div class="table__row-reiting">
                    RRaa+
                </div>
                <div class="table__row-office">
                    RRaa+
                </div>
                <div class="table__row-price">
                    <span class="disable">3000p</span>
                    <span class="disable-text">Расчет недоступен</span>
                </div>
                <div class="table__row-btn">
                    <button class="row-btn">оплатить</button>
                </div>
            </div>
        </div>
    </div>
</div>