<div class="reviews">
    <div id="prevReview" class="reviews__btn-prev">
        <img src="./images/стрелка_влево.png" alt="">
    </div>
    <div id="nextReview" class="reviews__btn-next">
        <img src="./images/стрелка_вправо.png" alt="">
    </div>
    <div class="reviews__list">
        <div class="reviews__item reviews__item-show">
            <img class="item__img" />
            <h1 class="item__title">Николай, 45 лет, <br> Барнаул</h1>
            <p class="item__text">Раньше на поиск и покупку полиса тратил больше недели: сначала в интернете смотрел, какие условия в разных компаниях, заводил таблицу специальную с ценами, чтобы сравнить. Потом ехал к страховую с лучшими условиями, ждал в очередях иногда. Теперь покупаю онлайн, сравниваю за пять минут условия и оформляю не выходя из дома.</p>
        </div>
        <div class="reviews__item reviews__item-hide">
            <img class="item__img" />
            <h1 class="item__title">Анна, 29 лет, <br> Хабаровск</h1>
            <p class="item__text">Открыла для себя сервис “Вул” в этом году. Очень рада, что и в сфере ОСАГО все процессы переходят в Интернет. Удобно и быстро всё.</p>
        </div>
        <div class="reviews__item reviews__item-hide">
            <img class="item__img" />
            <h1 class="item__title">Илья, 37 лет, <br> Белореченск</h1>
            <p class="item__text">В небольшом городе выбор страховых маленький. Благодаря vool.ru можно купить полис в интернете, выбрать страховую где выгоднее. Просто отлично, что теперь всё можно решить онлайн.</p>
        </div>
        <div class="reviews__item reviews__item-hide">
            <img class="item__img" />
            <h1 class="item__title">Мария, 31 год, <br> Новосибирск</h1>
            <p class="item__text">Покупка полиса онлайн - отличная возможность сэкономить время. Больше не приходится ехать в страховую лично, я не привязана к их часам работы, не жду своей очереди и т.п. Спасибо за такой сервис!</p>
        </div>
        <div class="reviews__item reviews__item-hide">
            <img class="item__img" />
            <h1 class="item__title">Станислав, 42 года, <br> Тюмень</h1>
            <p class="item__text">Уже второй год оформляю полис ОСАГО через интернет. За это время порекомендовал сервис многим знакомым. Каждому, кто ценит свое время и деньги, давно пора перестать ездить в офисы страховых, а делать всё в интернете! </p>
        </div>
    </div>
</div>