<div class="reviews">
    <div id="prevReview" class="reviews__btn-prev">
        <img src="./images/стрелка_влево.png" alt="">
    </div>
    <div id="nextReview" class="reviews__btn-next">
        <img src="./images/стрелка_вправо.png" alt="">
    </div>
    <div class="reviews__list">
        <div class="reviews__item reviews__item-show">
            <img class="item__img" />
            <h1 class="item__title">Иванов Иван</h1>
            <p class="item__text">Текст для отзыва 1</p>
        </div>
        <div class="reviews__item reviews__item-hide">
            <img class="item__img" />
            <h1 class="item__title">Иванов Иван</h1>
            <p class="item__text">Текст для отзыва 2</p>
        </div>
    </div>
</div>