<div class="small-banner__wrap">
    <div class="small-banner">
        <h1 class="small-banner__title">Оформить ОСАГО</h1>
        <button class="small-banner__button" id="smallBannerBtn">Оформить ОСАГО</button>
    </div>
</div>