<div class="why-us">
    <h1 class="why-us__title">Почему мы?</h1>
    <div class="container">
        <div class="content-box">
            <div class="content-box__wrap-img">
                <img class="content-box__img" src="./images/1.png"/>
            </div>
            <h2 class="content-box__title">Быстро</h2>
            <p class="content-box__text">Оформите полис за 10 минут <br>
Без посещения офиса</p>
        </div>
        <div class="content-box">
            <div class="content-box__wrap-img">
                <img class="content-box__img" src="./images/2_1.png"/>
            </div>
            <h2 class="content-box__title">Выгодно</h2>
            <p class="content-box__text">Выберите лучшую стоимость <br>
Вашего полиса</p>
        </div>
        <div class="content-box">
            <div class="content-box__wrap-img">
                <img class="content-box__img" src="./images/17-layers.png"/>
            </div>
            <h2 class="content-box__title">Удобно</h2>
            <p class="content-box__text">Одна заявка сразу в несколько <br>
страховых компаний</p>
        </div>
        <div class="content-box">
            <div class="content-box__wrap-img">
                <img class="content-box__img" src="./images/4.png"/>
            </div>
            <h2 class="content-box__title">Надежно</h2>
            <p class="content-box__text">Ваш полис после оплаты придет к Вам на почту, сохраните его 
в доступном месте</p>
        </div>
        <div class="content-box">
            <div class="content-box__wrap-img">
                <img class="content-box__img" src="./images/5.png"/>
            </div>
            <h2 class="content-box__title">Важно</h2>
            <p class="content-box__text">Вы приобретаете полис с учетом езды
без аварий и с сохранением КБМ</p>
        </div>
        <div class="content-box">
            <div class="content-box__wrap-img">
                <img class="content-box__img" src="./images/6.png"/>
            </div>
            <h2 class="content-box__title">Гарантировано</h2>
            <p class="content-box__text">Только проверенные страховые
компании</p>
        </div>
    </div>
</div>