.banner{
    width: 100%;
    height: 486px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #67af6a;
    @media screen and (max-width: 990px){
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    &__img-wrap {
        max-width: 765px;
        max-height: 475px;
        @media screen and (max-width: 990px){
            position: relative;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        @media screen and (max-width: 990px){
            position: relative;
            right: 40%;
            bottom: -20px;
        }
    }
    &__title-wrap {
        max-width: 489px;
        height: 100%;
        padding: 0 60px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: end;
        @media screen and (max-width: 990px){
            margin-top: 30px;
            padding-right: 0;
            text-align: center;
            font-weight: bold;
        }
    }
    &__title {
        margin: 0 0 34px 0;
        font-size: 48px;
        color: #fff;
        @media screen and (max-width: 600px){
            width: 230px;
            font-size: 28px;
        }
    }
    &__text {
        font-size: 24px;
        color: #fff;
        @media screen and (max-width: 600px){
            width: 256px;
            font-size: 16px;
        }
    }
}