.header {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    z-index: 5;
    @media screen and (max-width:799px){
        
    }
}
.logo {
    text-align: center;
    font-size: 30px;
    color: #83838E;
    @media screen and (max-width:799px){
        font-size: 20px;
    }
}
.menu {
    width: 70%;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width:990px){
        justify-content: flex-end;
    }
    &__item {
        width: 100%;
        height: 24px;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:990px){
            display: none;
        }
        &-link {
            font-size: 18px;
            text-decoration: none;
            font-weight: 400;
            white-space: nowrap;
            cursor: pointer;
            &:hover {
                border-bottom: 2px solid  #67af6a;
            }
        }
    }
}
.mobile-menu-btn {
    width: 38px;
    height: 38px;
    @media screen and (max-width:990px){
        display: flex;
        flex-wrap: wrap;
    }
}
.mobile-menu {
    &__btn-one {
        width: 17px;
        height: 17px;
        margin: 0 4px 4px 0;
        border-radius: 4px;
        background-color: #357852;
    }
    &__btn-two {
        width: 17px;
        height: 17px;
        margin: 0 0 4px 0;
        border-radius: 4px;
        background-color: #67af6a;
    }
    &__btn-three {
        width: 17px;
        height: 17px;
        margin: 0 4px 0 0;
        border-radius: 4px;
        background-color: #489f85;
    }
    &__btn-four {
        width: 17px;
        height: 17px;
        border-radius: 4px;
        background-color: #9dcc8f;
    }
}
.mobile-menu {

    &__item {
        width: 100%;
        height: 24px;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:990px){
            animation: showMenu 1s ease-out;
            height: auto;
            position: absolute;
            top: 70px;
            right: 0;
            z-index: 1;
            flex-direction: column;
            align-items: flex-end;
        }
        
        &-link {
            font-size: 18px;
            text-decoration: none;
            font-weight: 400;
            white-space: nowrap;
            cursor: pointer;
            &:hover {
                border-bottom: 2px solid  #67af6a;
            }
            @media screen and (max-width:990px){
                width: 100%;
                text-align: center;
                line-height: 30px;
                background-color: #fff;
                
            }
        }
    }

}
@keyframes showMenu {
    0%{
        transform: translateY(-400px);
    }
    100%{
        transform: translateY(0px);
    }
}